.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.registerContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 90%;
  width: 35%;
  padding: 10px 40px 40px 40px;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.registerDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 100px;
  margin: 20px 0;
}
.logoDescriptor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signInTxt {
  font-size: 14px;
  font-weight: 600;
}
.logonDesc {
  font-weight: 500;
  margin-top: 10px;
}
.userNameInput {
  padding: 20px 5px;
  margin-top: 30px;
  width: calc(100%);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.userNameInput:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt cornflowerblue;
}
.emailInput {
  padding: 20px 5px;
  margin-top: 20px;
  width: calc(100%);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.emailInput:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt cornflowerblue;
}
.passwordInput {
  padding: 20px 5px;
  margin-top: 20px;
  width: calc(100%);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.passwordInput:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt cornflowerblue;
}
.passwordAgainInput {
  padding: 20px 5px;
  margin-top: 20px;
  width: calc(100%);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.passwordAgainInput:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt cornflowerblue;
}
.guestMode {
}
.learnMore {
  color: #1a73e8;
  text-decoration: none;
}
.createAccountContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.createAccount {
  padding: 10px 20px;
  text-decoration: none;
  color: #1a73e8;
  border-radius: 10px;
  cursor: pointer;
}
.createAccount:hover {
  padding: 10px 20px;
  color: white;
  background-color: #5c97e4;
}
.next {
  padding: 10px 20px;
  border: none;
  background-color: #1a73e8;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
