.thumbnail {
  margin: 0 10px;
  margin-top: 10px;
  cursor: pointer;
}
.thumbnailCard {
  width: 23%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.thumbnailImg {
  width: 368px;
  height: 200px;
  object-fit: cover;
}
.thumbnailCardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 80px;
}
.thumbnailImgContainer {
  display: flex;
}
.thumbnailCardImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}
.thumbnailDescriptor {
  display: flex;
  flex-direction: column;
}

.thumbnailCardTxt {
  font-size: 14px;
  font-weight: 500;
}
/* .toast {
  padding: 10px;
  background-color: rgb(56, 62, 63);
  display: none;
} */
.channelName {
  color: #606060;
  font-size: 14px;
  cursor: pointer;
}
/* .channelName:hover {
  color: red;
}
.channelName:hover div.toast {
  background-color: #fff;
  display: flex;
  position: absolute;
} */
.likeTimeAgoContainer {
  display: flex;
  font-size: 14px;
  align-items: center;
}
.like {
  margin-right: 10px;
  cursor: pointer;
}
.dot {
  font-size: 18px;
  font-weight: 800;
}
.timeAgo {
  margin-left: 5px;
}
