.home {
  background-color: rgb(243, 239, 239);
  display: flex;
  height: calc(100vh - 70px);
  width: 100%;
}
.sidebar {
  flex: 1.7;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
.sidebar::-webkit-scrollbar-corner {
  border-radius: 10px;
}

.sideBarMainMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.mainMenuLink {
  text-decoration: none;
  color: rgb(12, 12, 12);
}
.mainMenuItem {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 20px;
  cursor: pointer;
}
.mainMenuItem:active {
  background-color: hsl(0, 0%, 53.3%);
}
.mainMenuItem:hover {
  background-color: #f9f9f9;
}

.mainMenuIcon {
  margin-right: 10px;
}
.mainMenuText {
  font-size: 16px;
}
.subMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.subscriptionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.subscriptionTitle {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.playerSection {
  flex: 10.3;
}
.container {
  height: calc(100vh - 130px);
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
}
.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
}
