.category {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.categoryBtn {
  height: 30px;
  border-radius: 30px;
  align-content: center;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
