.header {
  height: 60px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9;
}
.headerLeft {
  flex: 3;
  display: flex;
  align-items: center;
}
.headerLeftIcon {
  margin-right: 10px;
}
.headerLeftLogoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.headerLeftLogoIcon {
  padding: 8px;
}
.headerLeftText {
  font-size: 1.2rem;
  font-weight: 600;
}
.headerCenter {
  flex: 6;
  display: flex;
  align-items: center;
}
.headerCenterContainer {
  display: flex;
  align-items: center;
  border: 1px solid hsla(0, 0%, 53.3%, 0.2);
  width: 90%;
  height: 30px;
}
.headerCenterSearch {
  border: none;
  height: 30px;
  width: 86%;
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
  border-right: 1px solid hsla(0, 0%, 53.3%, 0.2);
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 6.7%);
  box-shadow: inset 1px 1px 2px #eee;
}
.headerCenterSearch:focus {
  outline: none;
}
.searchBtn {
  width: 14%;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  border: none;
  background-color: #f8f8f8;
}
.searchBtn:hover {
  background-color: #f0f0f0;
  border-color: #c6c6c6;
}
.searchBtn:focus {
  background-color: #e9e9e9;
}
.headerCenterSearchIcon {
  color: #333;
}
.headerCenterIcon {
  margin-right: 10px;
}
.headerRight {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.headerRightProfileImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.headerRightIcon {
  margin-right: 10px;
}
.popProfile.hide {
  display: none;
}
.popProfile {
  position: absolute;
  top: 0;
  right: 60px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 100;
  max-height: calc(100vh - 42px);
  overflow-y: scroll;
}
.popProfile::-webkit-scrollbar {
  width: 6px;
}
.popProfile::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
}
.popProfile::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
.popProfile::-webkit-scrollbar-corner {
  border-radius: 10px;
}
.popProfileDescriptor {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.popProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
}
.popProfileInfo {
  display: flex;
  flex-direction: column;
}
.popProfileName {
  margin-bottom: 10px;
}
.popProfileMenu {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.popProfileDesc {
  color: #065fd4;
}
.popProfileItems {
  display: flex;
  flex-direction: column;
}
.popProfileItem {
  display: flex;
  box-sizing: border-box;
  margin-top: 10px;
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;
}
.popProfileItem:hover {
  background-color: #f9f9f9;
}
.popProfileIcon {
  margin-right: 20px;
}
.popProfileMenuTxt {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.2px;
}
.popProfileSettings {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mode {
  text-transform: uppercase;
}


/* sign in button conainer */
.loginButton {
  text-decoration: none;
}
.signInButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #065fd4;
  margin-left: 10px;
  padding: 10px;
  color: #065fd4;
}
.signInButton {
  border: none;
  background-color: transparent;
  color: #065fd4;
  text-transform: uppercase;
  cursor: pointer;
}